@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* Font */
  font-size: 62.5%;
  --ff-general: 'Roboto', sans-serif;
}

body {
  font-family: var(--ff-general);
}

#menuNav {
  list-style: none;
  display: flex;
  gap: 1.0rem;
}



a {
  text-decoration: none;
  font-family: var(--ff-general);
  font-size: 1.5rem;

  color: #000;

  @media(max-width: 425px) {
    font-size: 1.2rem;
  }

  @media(min-width: 1024px) {
    font-size: 1.8rem;
  }

}

a:hover {
  color: #249f78;
}

.headerBar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 2.0rem;

  position: fixed;
  width: 100%;

  background-color: #f0eacc;
  border-bottom: 0.1rem solid #000;

  @media(max-width: 425px) {
    flex-direction: column;
    gap: 1.0rem;
    padding: 1.0rem;
  }
}

#pageTitle {
  @media(min-width: 1024px) {
    font-size: 2.5rem;
  }
}


main {
  padding: 12.0rem 2.0rem;
  display: flex;
  flex-direction: column;
  gap: 3.0rem;
  justify-content: flex-start;

  @media(min-width: 1024px) {
    padding: 12.0rem 12.0rem;
  }

}

.lessonTitle {
  @media(min-width: 1024px) {
    font-size: 2.5rem;
  }
}

.lessonDescription {
  margin-top: .8rem;
  margin-bottom: 1.5rem;
  font-weight: 400;
  font-size: 1.2rem;

  @media(min-width: 1024px) {
    font-size: 1.8rem;
  }
}

.lessonResolution {
  display: flex;
  flex-direction: column;
}

.lessonResolution label {
  font-weight: 700;
  font-size: 1.2rem;
  margin-bottom: 0.3rem;

  @media(min-width: 1024px) {
    font-size: 1.5rem;
  }
}

input {
  max-width: 20.0rem;
  padding: 0.5rem;
  border: 0.1rem solid #d2d2d2;
  border-radius: 0.5rem;

}

#lesson2Av1Input {
  margin-bottom: 0.8rem;
}

#lesson3EixoX1,
#lesson3EixoY1,
#lesson3EixoX2 {
  margin-bottom: 0.8rem;
}

#lesson4Result {
  max-width: 40.0rem;
  word-wrap: break-word;
  line-height: 2.0rem;

  @media(min-width: 768px) {
    max-width: 80.0rem;
  }
}

button {
  width: fit-content;
  padding: .5rem;
  margin-top: 1.5rem;
  border: 0.1rem solid #d2d2d2;
  border-radius: 0.5rem;
}

.lessonResult {
  margin-top: 1.5rem;
  font-size: 1.5rem;
  font-style: italic;
}